<h1 class="ribbon">
   <strong class="ribbon-content">😞😞I'm Really Sorry😞😞</strong>
</h1>
<div>
  <img src="assets/images/putta.jpeg"  style="width:300px;height:400px;    margin-left: 40%;">
</div>
<textarea></textarea>


<router-outlet></router-outlet>
